.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin-top: 24px;
  margin-left: 128px;
  margin-right: 128px;
}

.gallery-item {
  width: calc(33.333% - 16px);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.0444);
}

.gallery-link {
  display: block;
}
